body {
  font-size: 14px;
  font-family: 'Spectral SC', serif;
  margin: 20px;
  color: #373737;
  background: #f4f4f4;
}

a {
  color: #c0b283;
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: #ded79a;
  font-weight: underline;
}

ol, ul {
}

ul li {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.nav {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

