body {
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
  color: #373737;
  background: #f4f4f4;
  margin: 0;
}

a {
  color: #c0b283;
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: #ded79a;
  font-weight: underline;
}

h2 {
  background: #dcd0c0;
  padding: 0.3em;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-bottom: 0;
}

h3, h4, h5 {
  font-family: 'Spectral SC', serif;
}

ul.nav {
  background: #373737;
}

ul.nav li {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

input {
  margin-left: 1em;
  font-family: 'Spectral SC', serif;
  font-size: 16px;
}

.nav {
  padding: 0;
  padding-top: 20px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  font-family: 'Spectral SC', serif;
}

.mainPic {
  background-image: url("./img/pic01.jpg");
  background-size: 100%;
  background-position: 0px -202px;
  height: 485px;
  width: 100%;
}

.no-top-margin {
  margin-top: 0;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.td-left {
  width: 70%;
}

.inner-content {
  padding: 1em;
  margin: 0 auto;
  background: #ffffff82;
}

.float-left {
  float: left;
  margin: 1em;
}

div.img-trim {
  max-height: 266px;
  overflow: hidden;
}

.left-content {
  width: 69%;
  float: left;
}

.right-content {
  width: 24%;
  float: right;
}

.inline-text{
  font-family: 'Spectral SC', serif;
  margin-right: 0.5em;
}

.fastfacts-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.fastfacts-table tr {
  width: 100%;
}

.fastfacts-table td {
  width: 50%;
}

.fastfacts {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.fastfacts p {
  padding: 1em;
}

.nobold {
  font-weight: normal;
}

input[type="text"]:disabled {
  background: #dddddd;
}
input[type="number"]:disabled {
  background: #dddddd;
}
textarea:disabled {
  background: #dddddd;
}

.fakeButton {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #373737;
  border-radius: 5px;
  padding: 0.3em;
  font-family: 'Spectral SC', serif;
}

.rsvpError {
  background: #dcd0c0;
  padding: 0.2em;
  font-family: 'Pacifico', cursive;
  border-radius: 5px;
}

.rsvpConfirm {
  background: #dcd0c0;
  padding: 0.2em;
  font-family: 'Pacifico', cursive;
  border-radius: 5px;
}

.rsvpConfirm:hover {
  cursor: pointer;
}

.rsvpConfirm span {
  color: #373737;
  text-decoration: underline;
}

.hide {
  display: none;
}

.button {
  font-family: 'Spectral SC', serif;
  color: #c0b283;
  background-color: #373737;
  margin-left: 0;
}

.songResults {
  margin-top: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.songResult {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  min-height: 65px;
}

.songResult:hover {
  cursor: pointer;
  background-color: #fff;
  font-weight:bold;
}

.songResult h5 {
  margin: 0;
}

.songResult-img {
  float: left;
  margin-top: 0.25em;
  margin-right: 0.25em;
}
.songResult-info {
  margin-left: 65px;
}
.songResult img {
  display: block;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
